rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == "yubami1011@gmail.com";
    }

    match /home/{document} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /{collection}/{document} {
      allow read: if collection in [
        "songs", "notices", "schedules", "wardrobe",
        "instagram", "curiosity"
      ];
      allow create, update, delete: if isAdmin();
    }
  }
}
