rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() { return request.auth != null && request.auth.token.email == "yubami1011@gmail.com"; }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 8 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}
